/* home */
@use "../abstracts/variables" as var;
@use "../base/typography" as type;



*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh; 
  display: grid;
  place-items: center;
  background: #1B1A17;

 }

 .card {
  width: 400px;
 }

 .card__content {
  text-align: center;
  position: relative;
  padding: 10em;
  transition: transform 3s;
  background: #F0A500;
  transform-style: preserve-3d;
 }

 .card:hover .card__content {
  transform: rotateY(.5turn);
 }

.card__front, 
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  padding: 1em;
  backface-visibility: hidden;
  transform-style: preserve-3d;

}

.card__front {
  background: #F0A500;
}

.card__title {
  font-size: 2rem;
  transform: translateZ(6rem);
}

.card__body {
  transform: translateZ(3rem);
}

.card__description {
  transform: translateZ(4rem);
}

.card__back {
  transform: rotateY(.5turn);
  background: #E45826;
}
